<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiberscent</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<!--'block head' in html files--> 
{% block head %}
{% endblock %}

</head>
<body>
<!-- Navigation bar  in 'navbar.html'-->
{% include 'nav-bar.html' %}

 <!--'block body' in html files-->
{% block body %}
{% endblock %}

<Script src="{{ url_for('static', filename='JS/mobile-navbar.js') }}"></Script>
</body>
</html>